
@{
    ViewBag.Title = "Dashboard";
}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountCustomers">
                                <span>
                                    @if (ViewBag.CountCustomers != null)
                                    {
                                        @ViewBag.CountCustomers;
                                    }
                                </span>

                            </div>
                            <div>Customers!</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="viewDetails" data-type="customers">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountOrders">
                                <span>
                                    @if (ViewBag.CountOrders != null)
                                    {
                                        @ViewBag.CountOrders;
                                    }
                                </span>
                             </div>
                            <div>Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountProducts">
                                <span>
                                    @if (ViewBag.CountProducts != null)
                                    {
                                        @ViewBag.CountProducts;
                                    }
                                </span>
                            </div>
                            <div>Products!</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="viewDetails" data-type="products">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> ORDERS BY COUNTRY

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="orderByCountry"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> ORDERS BY CUSTOMER
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div id="ordersByCustomer"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> CUSTOMERS LIST
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="myDataTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Customer Profil</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Customer Email</th>
                                <th>Customer Phone</th>
                                <th>Customer Country</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> TOP 5 CUSTOMERS
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body topCustomer">

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> CUSTOMER BY COUNTRY
                </div>
                <div class="panel-body">
                    <div id="customerByCountry"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- MODAL -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-search"></span> View Details </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> <!-- MODEL HEADER-->

            <div class="modal-body">

            </div> <!-- MODAL BODY-->

        </div>
    </div>

</div>



<!-- JS -->


@section Scripts{

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    <script type="text/javascript" src="https://www.google.com/uds/api/visualization/1.0/40ff64b1d9d6b3213524485974f36cc0/format+en,default+en,ui+en,corechart+en.I.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        //Global Variable
        google.load("visualization", "1", { packages: ["corechart"] });

        $(document).ready(function () {



            //View Details Button
            $(".viewDetails").click(function () {

                $(".modal-body").html('');

                $.ajax({

                    type: 'GET',
                    url: '@Url.Action("GetDetails", "Dashboard")',
                    data: { type: $(this).attr("data-type") },
                    success: function (response) {
                        $(".modal-body").html(response);
                        $("#exampleModal").modal('show');
                    },
                    error: function () {
                        alert("Something wrong");
                    }

                });

            });

            //Panel Body
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TopCustomers", "Dashboard")',
                success: function (response) {
                    $(".topCustomer").html(response);
                },
                error: function () {
                    alert("Something Wrong");
                }
            });

             //Chart Orders By Country
            OrdersByCountry()

            //Chart Customer By Country
            CustomersByCountry()

            //Chart Orders By Customer
            OrdersByCustomer()

            //Get All Customers 
            CustomerList()


            //function  Orders By Country
            function OrdersByCountry() {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("OrdersByCountry", "Dashboard")',
                    success: function (response) {

                        console.log(response);

                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'Country');
                        data.addColumn('number', 'CountOrders');

                        for (var i = 0; i < response.result.length; i++) {
                            data.addRow([response.result[i].Country, response.result[i].CountOrders]);
                        }


                        var chart = new google.visualization.ColumnChart(document.getElementById('orderByCountry'));

                        chart.draw(data,
                          {
                              title: "",
                              position: "top",
                              fontsize: "14px",
                              chartArea: { width: '100%' },
                          });
                    },
                    error: function () {
                        alert("Error loading data!");
                    }
                });

            }

            function CustomersByCountry() {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CustomersByCountry", "Dashboard")',
                    success: function (response) {

                        console.log(response);

                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'Country');
                        data.addColumn('number', 'CountCustomer');

                        for (var i = 0; i < response.result.length; i++) {
                            data.addRow([response.result[i].Country, response.result[i].CountCustomer]);
                        }


                        var chart = new google.visualization.PieChart(document.getElementById('customerByCountry'));

                        chart.draw(data,
                          {
                              title: "",
                              position: "top",
                              fontsize: "14px",
                              chartArea: { width: '100%' },
                          });
                    },
                    error: function () {
                        alert("Error loading data!");
                    }
                });

            }

            function OrdersByCustomer() {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("OrdersByCustomer", "Dashboard")',
                    success: function (response) {

                        console.log(response);

                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'Name');
                        data.addColumn('number', 'CountOrders');

                        for (var i = 0; i < response.result.length; i++) {
                            data.addRow([response.result[i].Name[0], response.result[i].CountOrders]);
                        }


                        var chart = new google.visualization.BarChart(document.getElementById('ordersByCustomer'));

                        chart.draw(data,
                          {
                              title: "",
                              position: "top",
                              fontsize: "14px",
                              chartArea: { width: '100%' },
                          });
                    },
                    error: function () {
                        alert("Error loading data!");
                    }
                });

            }

            function CustomerList() {
                //GET DATA FROM DATABASE TO FILL DATATABLE
                var oTable = $(".panel #myDataTable").DataTable({

                    "ajax": {
                        "url": "/CustomerOrder/GetCustomers",
                        "type": "GET",
                        "dataType": "json"
                    },

                    "columns": [
                        {
                            "data": "CustomerImage", "width": "50px", "render": function (data) {
                                return '<img class="rounded img-thumbnail" style="width:60px; height:58px;" src="/Images/Customers/' + data + '"/>';
                            }
                        },
                        { "data": "ID", "autowidth": true },
                        { "data": "CustomerName", "autowidth": true },
                        { "data": "CustomerEmail", "autowidth": true },
                        { "data": "CustomerPhone", "autowidth": true },
                        { "data": "CustomerCountry", "autowidth": true }
                    ]
                });
            }


        });

    </script>

    
}

